<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browsers" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Report.Assesment"/>
      <class name="Report.LoginTest"/>
      <class name="Report.TestClass1"/>
      <class name="Report.SmokeTest"/>
      <class name="Report.MyFirstTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
